$dark: #1d1d1d;
$white: #fff;

$accent-blue: #5364ff;
$accent-green: #33c75a;
$accent-purple: #5d49d4;
$accent-pink: #ff7272;
$accent-purple-light: #af70ff;

$white-transparent: rgba(255, 255, 255, 0.025);

$light-grey: #f8f8fa;
$grey: #f1f1f3;
$grey-shade-2: #eeeeee;
$text-grey: #c0c0c0;
$dark-grey: #8e8e8e;

$black-75: rgba(0, 0, 0, 0.75);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-shade-4: #3c4043;
$black-light: #1c1c1e;
$black-light-dark: #111111;
$black-light-dark-transparent: rgba(17, 17, 17, 0.5);

$gen-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

$font-family: "Nunito", sans-serif;
